*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: 'poppins', sans-serif;
}
/* Common */
a{
    text-decoration: none;
}
.main-content{
    width: 1170px;
    max-width: calc(1170px - 48px);
    margin: 0 auto;
}
.btn{
    display: inline-block;
    min-width: 186px;
    padding: 0 16px;
    line-height: 48px;
    border: 1px solid #1EBFC1;
    border-radius: 6px;
    text-align: center;
    font-weight: 600;
    font-size: 1.6rem;
    color: #1EBFC1;
}
.btn:hover{
    opacity: 0.5;
}
.heading{
    font-weight: 700;
    color: #0D1111;
    margin-top: 18px;
}
.heading.lv1{
    font-size: 6.2rem;
    line-height: 7.2rem;
}
.heading.lv2{
    font-size: 4.2rem;
    line-height: 5.6rem;
}
.comment{
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: rgba(118, 126, 126, 1);
}
.line-clamp{
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
/* header */

.header.fixed{
    position: sticky;
    background-color: #FFFFFF;
    /* Lấy cái padding phía trên -8 phần muốn thấy của nav */
    top: -44px; 
    z-index: 1;
}
.header .body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 52px 0 8px 0;
}
nav ul{
    display: flex;
    /* gap: 20px; */
}
nav ul li a{
    padding: 8px 20px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #2F3A3B;
}
nav ul .active a,
nav ul li a:hover{
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}
.header .action{
    display: flex; 
    align-items: center; 
    gap: 24px;
}
.header .action .sign-in-btn{
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #494949;
}
.header .action .sign-up-btn{
    min-width: 108px;
}
/* hero */
.hero .body{
    display: flex;
    padding: 42px 0 79px;
    background-color: 
    rgba(255, 255, 255, 1);
}
.hero .content-block{
    margin-top: 93px;
    max-width: 41%;
}
.hero .content-block .title{
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: #767E7E;
}
.hero .content-block .desc{
    width: 372px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3.2rem;
    color: #9DA6A5;
    margin-top: 46px;
}
.hero .content-block .cta-group{
    margin-top: 52px;
    display: flex;
    align-items: center;
}
.hero .content-block .cta-group .hero-btn{
    width: 186px;
    line-height: 68px;
    background-color: #1EBFC1;
    color: #FFFFFF;
    border-radius: 14px;
}
.hero .content-block .cta-group .watch-video{
    margin-left: 50px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.hero .content-block .cta-group .watch-video .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background-color: #FFF;
    box-shadow: 0px 22px 50px rgba(0, 0, 0, 0.05);
}
.hero .media-block{
    margin-left: auto;
    position: relative;
}
.hero .media-block .image{
    display: block;
    width: 576px;
    height: 631px;
    object-fit: cover;
}
.hero .media-block .hero-book{
    position: absolute;
    bottom: 407px;
    right: 459px;
    width: 157px;
    height: 75px;
    background-color: rgba(254, 254, 253, 1);
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
    border-radius: 18px;
}
.hero .media-block .hero-book-item{
    position: relative;
    display: flex;
    justify-content: center;
    width: 107px;
    align-items: center;
    margin: 17px 25px;
}
.hero .media-block .hero-book-item .desc{
    font-weight: 500;
    font-size: 1rem;
    margin-left: 16px;
    line-height: 1.5rem;
    color: rgba(13, 17, 17, 1);
}
.hero .media-block .hero-book-item .icon-1{
    position: absolute;
    top: 28px;
    left: 4px;
}
.hero .media-block .hero-schedules{
    position: absolute;
    bottom: 46px;
    right: 517px;
    text-align: center;
    width: 124px;
    height: 132px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 24px;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
}
.hero .media-block .hero-schedules .hero-schedules-item{
    padding: 16px 25px 23px;

}
.hero .media-block .hero-schedules .desc{
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    color: rgba(13, 17, 17, 1);
}
.hero .media-block .hero-schedules .icon-4,
.hero .media-block .hero-schedules .icon-1{
    margin-top: 16px;
}
.hero .media-block .hero-schedules .icon-2{
    margin-top: 12px;
}
.hero .media-block .hero-schedules .icon-3{
    margin-top: 10px;
}
.hero .media-block .hero-active{
    position: absolute;
    bottom: 41px;
    right: 45px;
    width: 207px;
    height: 90px;
    background-color: rgba(254, 254, 253, 1);
    box-shadow: 0px 12px 80px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
}
.hero .media-block .hero-active .hero-active-item{
    padding: 17px 35px;
}
.hero .media-block .hero-active .hero-active-item .desc{
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    color: rgba(13, 17, 17, 1);
}
.hero .media-block .hero-active .hero-active-list{
    display: flex;
    justify-content: center;
    margin: 8px 0 0 7px;
}
.hero .media-block .hero-active .hero-active-list .avatar{
    margin-left: -7px;
    width: 33px;
    height: 33px;
    object-fit: cover;
    border-radius: 50%;
    font-weight: 500;
    font-size: 1rem;
    line-height: 33px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}
/* features */
.features{
    padding: 130px 0 65px;
}
.features .heading{
    width: 50%;
}
.features .desc-main{
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: rgba(118, 126, 126, 1);
    width: 52%;
    margin-top: 18px;
}
.features .features-list{
    display: flex;
    margin-top: 80px;
    gap: 200px;
}
.features .features-list .item:first-child{
    width: 15%;
    margin-right: 9px;
}
.features .features-list .item{
    width: 20%;
}
.features .features-list .item .frame{
    width: 102px;
    height: 106px;
    border-radius: 16px;
    background-color: rgba(255, 193, 71, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.features .features-list .item:nth-child(2) .frame{
    background-color: rgba(255, 148, 122, 1);
}
.features .features-list .item:nth-child(3) .frame{
    background-color: rgba(191, 131, 255, 1);
}
.features .features-list .item .title{
    font-weight: 600;
    font-size: 2rem;
    line-height: 3rem;
    color: rgba(13, 17, 17, 1);
    margin-top: 26px;
}
.features .features-list .item .desc{
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.7rem;
    color: rgba(157, 166, 165, 1);
    margin-top: 16px;
}
/* courses */
.courses{
    padding: 65px 0 132.5px;
}
.courses .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 19px;
}
.courses .row .desc{
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3.2rem;
    color: rgba(118, 126, 126, 1);
    width: 48%;
}
.courses .row .link{
    font-weight: 700;
    font-size: 1.4rem;
    color: rgba(30, 191, 193, 1);
}
.courses .row .link:hover{
    text-decoration: underline;
}
.courses .list{
    margin-top: 79px;
    display: flex;
    gap: 47px;
}
.courses .list .item{
    flex: 1;
    position: relative;
}
.courses .list .item .thumb{
    width: 100%;
    height: 393px;
    object-fit: cover;
    opacity: 65%;
    border-radius: 8px;
}
.courses .list .item .body{
    position: absolute;
    width: 308px;
    top: 322px;
    left: 17px;
    border-radius: 8px;
    box-shadow: 0px 16px 90px rgba(0, 0, 0, 0.05);
    background-color: rgba(255, 255, 255, 1);
    padding: 18px 35px 29px 25px;
}
.courses .list .item .body .title a{
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 3.3rem;
    color: rgba(13, 17, 17, 1);
}
.courses .list .item .body .price{
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-top: 16px;
}
.courses .list .item .body .price strong{
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 3.3rem;
}
.courses .list .item .body .desc{
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: rgba(157, 166, 165, 1);
    margin-top: 6px;
}
.courses .list .item .body .info{
    display: flex;
}
.courses .list .item .body .info .label{

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    color: rgba(157, 166, 165, 1);
    margin-top: 18px;
}
.courses .list .item .body .info .label::before{
    content: "";
    display: inline-block;
    margin:0 10px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: rgba(30, 191, 193, 1);
}
